body{
      background-image: url('../public/images/conclave.png');
      background-size: 1800px;
      background-position: center;
      background-position-x: bottom;
      /* do make to copy the font link from google font and paste it in index.html to use on the web */
      font-family: 'Nunito', sans-serif;
      color: #fff;
}

.container{
      width: 1200px;
      max-width: 90%;
      margin: 0 auto;
}


/* GLOBAL */
.cardWrapper{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 200px;
}